body {
	background-image: url('/images/stripe2.png');
	background-repeat:repeat;
}

#main_content {
	background-color: rgba(250,250,250,0.9);
}

.rank_list {
	list-style-type: none;
}

.rank_list img {
	width: 200px;
}

	#vs_panel input {
		width: 346px;
		margin: auto;
	}

	#vs_panel .vote_img {
		text-align: center;
	}

	#vs_panel .vs {
		font-size: 500%;
		padding-top: 150px;
		text-align: center;
		font-weight: bold;
		text-shadow: 0 -1px 0 #fff;
		color: #666;
	}
	

#last_vote {}
	
	#last_vote img {width: 200px;}