.rank_list {
	list-style-type: none;
}

.rank_list img {
	width: 200px;
}

#vs_panel {
	margin: 0 auto;
	width: 750px;
}

	#vs_panel input {
		width: 350px;
	}

	#vs_panel .vote_img {
		width:350px;
		float: left;
	}

	#vs_panel .vs {
		width: 50px;
		float: left;
	}

#last_vote {}
	
	#last_vote img {width: 200px;}