<!DOCTYPE HTML>
<html lang="en-GB">
<head>
    <title>{% block pagetitle %}Moustache Wars{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" media="all">
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css" media="all">
</head>
<body>
  <div class="container_12">
    <div class="grid_12" style="text-align: center;">
      <img src="/images/bigtache.png" alt="Moustache Wars" title="Moustache Wars" width="800" />
    </div>
  </div>
  
  <div id="main_content" class="container_16">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>