{% extends "base.html" %}

{% block content %}

<!-->{% if logged_in %}
  Logged in as <strong>{{ screen_name }}</strong>.
{% else %}
  <a href="/oauth/twitter/login">Login via Twitter</a> to <a href="/upload">upload</a>.
{% endif %}-->

  <!--><a name="fb_share" type="button_count" share_url="http://moustachewars.appspot.com" href="http://www.facebook.com/sharer.php">Share Moustache Wars!</a>
  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>-->

    <div id="vs_panel">
        <div class="vote_img grid_7">
            <form action="/" method="post">
                <input type="image" name="submit" src="/img?img_id={{tache1.key}}" border="0">
                <input type="hidden" name="winner" id="winner" value="{{tache1.key}}"/>
                <input type="hidden" name="loser" id="loser" value="{{tache2.key}}"/>
            </form>
        </div>
        <div class="vs grid_2"><p>VS</p></div>
        <div class="vote_img grid_7">
            <form action="/" method="post">
                <input type="image" name="submit" src="/img?img_id={{tache2.key}}" border="0">
                <input type="hidden" name="winner" id="winner" value="{{tache2.key}}"/>
                <input type="hidden" name="loser" id="loser" value="{{tache1.key}}"/>
            </form>
        </div>
        <div class="clear"></div>
        <div id="howtovote" class="grid_16">
            <p>Click on your favourite tash to vote!</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    
    {% if last_winner %}
    <div id="last_vote" >
        <div class="yourlast grid_16">
            <h2>Your last vote:</h2>
        </div>
        <div class="clear"></div>
        <div id="winner" class="last_img grid_4 prefix_2">
            <img src="/img?img_id={{last_winner.key}}" alt="">
            <p><a href="http://twitter.com/{{last_winner.name}}">{{last_winner.name}}</a></p>
            <p>Current win percentage: {{last_winner.win_percentage}}</p>
        </div>
        <div class="beats grid_4">
            beats
        </div>
        <div id="loser" class="last_img grid_4">
            <img src="/img?img_id={{last_loser.key}}" alt="">
            <p><a href="http://twitter.com/{{last_loser.name}}">{{last_loser.name}}</a></p>
            <p>Current win percentage: {{last_loser.win_percentage}}</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    {% endif %}
{% endblock %}