{% extends "base.html" %}

{% block content %}

<h1>{{twitter_username}}'s MoustacheWars Profile</h1>
<p class="retweet_me">
    <a href="http://www.twitter.com/home/?status=Check+out+my+profile+on+@MoustacheWars+http://moustachewars.appspot.com/profile/{{twitter_username}}+mowars">Tweet This Page</a>
</p>

<ul class="rank_list">
{% for tache in taches %}
    <li>
        <h4>{{forloop.counter}}</h4>
        <img src="/img?img_id={{ tache.key }}" alt="">
        <div class="tweet">
            <p>{{tache.tweet}}
        </div>
        <div class="info">
            <ul>
                <li>Owner: <a href="http://twitter.com/{{tache.name}}">{{tache.name}}</a></li>
                <li>Win Percentage: {{tache.win_percentage}}</li>
                <li>Wins: {{tache.wins}}/{{tache.total_battles}}</li>
                <li>Losses: {{tache.losses}}/{{tache.total_battles}}</li>
            </ul>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}