{% extends "base.html" %}

{% block content %}
<div class="title grid_15 prefix_1">
    <h1>{{twitter_username}}'s Profile
    <span class="retweet_me">
        <a href="http://www.twitter.com/home/?status=Check+out+my+profile+on+@MoustacheWars+http://moustachewars.com/profile/{{twitter_username}}+mowars">Tweet This Page</a>
    </span>
    </h1>
</div>
<div class="clear"></div>

<div class="rankings">
    <ul class="rank_list">
    {% for tache in taches|dictsortreversed:"win_percentage" %}
        <li class="ranking">
            <div class="rank grid_1 prefix_2 alpha">
                <h4>{{forloop.counter}}</h4>
            </div>
            <div class="image grid_4">
                <img src="/img?img_id={{ tache.key }}" alt="">
                <p class="tweet">{{tache.tweet|urlize}}</p>
            </div>
            <div class="info grid_5 valign omega">
                <ul>
                    <li>Owner: <a href="/profile/{{tache.name}}">{{tache.name}}</a>
                        <span class="twitter_link">(<a href="http://twitter.com/{{tache.name}}">@{{tache.name}}</a>)</span></li>
                    <li>Win Percentage: {{tache.win_percentage}}</li>
                    <li>Wins: {{tache.wins}}/{{tache.total_battles}}</li>
                    <li>Losses: {{tache.losses}}/{{tache.total_battles}}</li>
                </ul>
            </div>
            <div class="clear"></div>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
